//	HOME & NAVIGATION	//
#mobile-nav {
	text-transform: uppercase;
	letter-spacing: 0.15em;
	line-height: 150%;
	li {
		padding: 10px 5px;
		a {
			font-weight: 200;
			color: $white_text;
			&:hover {
			color: $accent_green;
		}
		}
	}
	.open a {
		background-color: $primary_color_highlight;
	}
}

header.container {
	background: url("../imgs/landing.jpg") center center no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	svg {
		width: 100%;
		position: absolute;
		left: 0;
		top: 882px;
		fill: white;
	}
}

#welcome {
	font-weight: light;
	text-align: center;
	line-height: 150%;
	padding: 10px;
	margin: 50px 10px;
}
#welcome_header {
		line-height: 175%;
		margin-bottom: 30px;
		font-weight: light;
	}
#welcome p {
	margin: 10px;
}
#welcome_link {
	clear: both;
	text-transform: uppercase;
	margin: 20px 0;
	i.fa {
		display: none;
		-webkit-transform: scale(-.5);
		@include transition(-webkit-transform, 2s, ease-in-out, 1s);;
	}
	a {
		color: black;
		display: block;
		padding: 15px 0;
		margin: 10px auto;
		border: 1px solid black;
		max-width: 210px;
		&:hover {
			text-decoration: none;
			@include transition(all, 1.5s, ease, 0);;
			color: white;
			i.fa {
				@include transition(-webkit-transform, 2s, ease-in-out, 1s);;
				-webkit-transform: scale(1.5);
				display: inline-block;
				color: white;
				margin: 0 5px;
			}
		}
	}
}
#welcome_link_purchase a {
	&:hover {
		background-color: $primary_color;
		border-color: $primary_color;
		}
	}
#welcome_link_twitter a {
	&:hover {
		background-color: $secondary_color;
		border-color: $secondary_color;
	}
}
@media screen and (min-width: 500px) {
	#welcome_link a {
		min-width: 150px;
		display: inline-block;
	}
}