//	HOME & NAVIGATION	//
#mobile-nav {
	text-transform: uppercase;
	letter-spacing: 0.15em;
	line-height: 150%;
	li {
		padding: 10px 5px;
		a {
			font-weight: 200;
			color: $white_text;
			&:hover {
			color: $accent_green;
		}
		}

	}
	.open a {
		background-color: $primary_color_highlight;
	}
}

header.container {
	background: url("../imgs/landing.jpg") center center no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	svg {
		width: 100%;
		position: absolute;
		left: 0;
		top: 882px;
		fill: white;
	}
}