//	HOME & NAVIGATION	//

//	Adjust body for mobile-menu //
body.slide-active {
	overflow-x: hidden;
}

//	Welcome Section adjustments for mobile-menu  //
.no-margin-top {
	margin-top: 0px !important;
}

//	Page wrapper for mobile-menu  //
#page-content {
	position: relative;
	padding-top: 70px;
	left: 0;
}
#page-content.slide-active {
	padding-top: 0;
}

//	Toggle bars :: not using button  //
#slide-nav .navbar-toggle {
	cursor: pointer;
}

.navbar .navbar-fixed-topp.slide-active {
	position: relative;
}