//	COLOR VARIABLES //
$primary_color: #313139;
$primary_background: #2C2F36;
$secondary_color: #FA6746;
$accent_green: #00A65C;
$white_text: #fff;


$primary_color_highlight: darken(#313139, 10%);
//	TYPOGRAPHY VARIABLES //
$base_html_font_size: 16px;
$base_html: 16;
//	PAGE SPECIFIC VARIABLES //