//	COLOR VARIABLES //
$primary_color: #313139;
$secondary_color: #FA6746;
$accent_green: #00A65C;
$white_text: #fff;

$primary_color_highlight: darken(#313139, 0.4);
//	TYPOGRAPHY VARIABLES //
//	PAGE SPECIFIC VARIABLES //